@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300&family=PT+Mono&family=Rubik:wght@500;600;700;800&display=swap');

:root {
  --color-white: #f2f2f2;
  --color-black: #1a1a1a;
  --color-grey: #828282;
  --color-grey-dark: #424242;
  --color-green: #04b861;
  --color-red: #f15726;

  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --p-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-black);
}

/* sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    z-index: 1000;
}

.sidebar--items,
.socials--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.sidebar--items a,
.socials--items a {
    color: var(--color-white);
    font-family: 'DM Sans', sans-serif;
    text-decoration: none;
    font-size: var(--h2-font-size);
    margin-bottom: 20px;
}

.sidebar--items a:hover,
.socials--items a:hover {
    color: var(--color-red);
}

.socials a {

}

/* header styling */
header {
    max-width: 1200px;
    margin: 133px 92px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
}

.title {
    color: var(--color-white);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.title .logo {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 8px;
    transition: all 3s ease;
}

.title .logo img {
    width: 50px;
}

.title .logo h1 a {
    color: var(--color-white);
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
}

.title .logo:hover {
    text-decoration: underline;
}

.title h2 {
    font-size: var(--biggest-font-size);
    font-family: 'PT Mono', sans-serif;
    font-weight: var(--font-regular);
}

.title p {
    font-size: var(--h2-font-size);
    font-family: 'DM Sans', sans-serif;
    color: var(--color-green);
}

.title p a {
    color: var(--color-green);
    text-decoration: underline;
}

.title p a:hover {
    text-decoration: none;
}

.bio {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.bio p {
    font-size: var(--p-font-size);
    font-weight: var(--font-regular);
    font-family: 'PT Mono', sans-serif;
    line-height: 2;
    color: var(--color-white);
}

/* main styling */
main {
    max-width: 1200px;
    margin: 32px 92px;
    display: flex;
    align-items: center;
}

.section--categorie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.section--label {
    padding: 5px 10px;
    border: 1px solid var(--color-white);
    border-radius: 1rem;
    background-color: var(--color-black);
}

.section--label .label {
    color: var(--color-white);
    font-size: var(--small-font-size);
    font-weight: var(--font-regular);
    font-family: 'PT Mono', sans-serif;
}

.section--title {
    font-size: var(--h1-font-size);
    font-family: 'PT Mono', sans-serif;
    font-weight: var(--font-regular);
    color: var(--color-white);
}